:root{
    --gray: #262626;
    --lightgray: #353535;
}
::selection{
    background-color: #33ff00;
    color: black;
}
html{
    scrollbar-width: thin;
    scroll-snap-align: end;
    scroll-behavior: smooth;
    transition: all .2s ease-in;
}
body{
    min-height: 100vh;
    margin: 0;
    width: auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--gray);
    color: white;
}
img{
    width: 100%;
    height: auto;
}
a{
    text-decoration: none;
    color: white;
    transition: all .3s ease-in;
}
a:hover{
    color: red;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
#top{
    display: flex;
    width: 98vw;
    justify-content: center;
    margin-top: 1rem;
    user-select: none;
}
#totop{
    background-color: #33ff00;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: 1.5rem;
    margin-right: 1.5rem;
    font-weight: bold;
    font-size: large;
    color: black;
    user-select: none;
    z-index: 3;
}
.reiter{
    height: auto;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 150%;
    border-right: 2px solid var(--lightgray);
}
.reiter:last-child{
    border: 0px;
}
.hamburger{
    display: none;
}
#footer{
    bottom: 0;
    margin-bottom: 0;
    text-align: center;
    width: 100%;
    height: 3rem;
    color: white;
    font-size: 120%;
    background-color: var(--lightgray);
}
.thema{
    height: 150vh;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    background-color: var(--lightgray);
    padding: 0.5rem;
    border-radius: 10px;
}
.thema:nth-child(1){
    margin-top: 3rem
}
.thema .content{
    padding: 1rem;
}


@media (max-width: 970px){
    #top{
        display: block;
        justify-content: center;
        display: none;
        transition: all .3s ease-in;
    }
    #totop{
        margin-bottom: 0.5rem;
        margin-right: 0.5rem;
    }
    .reiter{
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
        height: auto;
        width: 90%;
        max-width: 450px;
        margin-left: auto;
        margin-right: auto;
        border-right: 0px;
        border-bottom: 1px solid var(--lightgray);
    }
    .reiter:last-child{
        border-bottom: 0px;
    }
    .hamburger{
        display: block;
        color: white;
        position: absolute;
        right: 0;
        margin-right: 1.5rem;
        margin-top: 0.8rem;
        transition: all .3s ease-in;
        cursor: pointer;
        font-size: 120%;
    }
    #hamburger1{
        display: block;
    }
    #hamburger2{
        display: none;
        transform: rotate(45deg);
        font-size: 140%;
    }
    #main{
        padding-top: 3rem;
    }
    .thema .content{
        padding: 0.5rem;
    }
    #footer{
        height: 3rem;
        margin-left: -0.5rem;
    }
}